SISMO_DB_NAME=sismo
SISMO_DB_USER=sismo
SISMO_DB_PASSWORD=changeme
SISMO_API_CORS_ORIGINS=https://sismo.lat,https://www.sismo.lat
SISMO_WEB_ORIGIN=https://sismo.lat
NEXT_PUBLIC_API_URL=https://api.sismo.lat
NEXT_PUBLIC_WEB_ORIGIN=https://sismo.lat
CLOUDFLARE_TUNNEL_TOKEN=your-token-here
